baseURL = 'https://sunCityDaa.github.io'
languageCode = 'en-US'
title = 'SunCityDaa Site'
theme = "hugo-theme-void"

# Social media links
[params]
  [params.social]
    github = "https://github.com/sunCityDaa"
    twitter = "https://twitter.com/yourusername"
    email = "2367758021@qq.com"
  # [params.avatar]
  #   url = "static/ph.jpg"

# Main menu
[[menus.main]]
name = 'Home'
pageRef = '/'
weight = 10

[[menus.main]]
name = 'Posts'
pageRef = '/posts'
weight = 20

[[menus.main]]
name = 'Tags'
pageRef = '/tags'
weight = 30

[[menus.main]]
name = 'About'
pageRef = '/about'
weight = 40